.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 67px;
    background-color: #C3CFD9;
    color: #E8833A;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 67px;
}

main h2 {
    height: 110px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;
    display: flex;
    align-items: center;
}


.MovieSelection img {
    width: 129px;
    margin: 0 0 27px 39px;
}

.MovieSelection img:hover {
    cursor: pointer;
}

.Movies {
    margin: 0 auto;
    width: 375px;
}

.Session {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 327px;
    margin-bottom: 23px;
}

.Session p {
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    width: 327px;
    padding-bottom: 22px;
    color: #293845;
}

.Session div {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}