*{
    font-family: 'Roboto', sans-serif;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 67px;
    background-color: #C3CFD9;
    color: #E8833A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
}

.loadingGIF {
    position: fixed;
    top: 150px;
    left: calc(50% - 100px);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 67px auto 127px auto;
    width: 375px;
}

main h2 {
    height: 110px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;
    display: flex;
    align-items: center;
}


.MovieSelection img {
    width: 129px;
    margin: 0 0 27px 39px;
}

.MovieSelection img:hover {
    cursor: pointer;
}

.Movies {
    margin: 0 auto;
    width: 375px;
}

.Session {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 327px;
    margin-bottom: 23px;
}

.Session p {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    width: 327px;
    padding-bottom: 22px;
    color: #293845;
}

.Session div {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.SeatSelection {
    display: flex;
    flex-wrap: wrap;
}

.Seats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 16px;
}

.Seats div {
    box-sizing: border-box;
    border-radius: 17px;
    width: 25px;
    height: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7px 18px 0;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
}

.Seats .available {
    background-color: #C3CFD9;
    border: 1px solid #7B8B99; 
}

.Seats .selected {
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E; 
}

.Seats .unavailable {
    background-color: #FBE192;
    border: 1px solid #F7C52B; 
}

.Seats div:nth-child(10n) {
    margin-right: 0;
}

.SeatStatus {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.SeatStatus article {
    color: #4E5A65;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SeatStatus article div {
    box-sizing: border-box;
    border-radius: 17px;
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
}

.SeatStatus .selected {
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;   
}

.SeatStatus .available {
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;   
}

.SeatStatus .unavailable {
    background-color: #FBE192;
    border: 1px solid #F7C52B;   
}

.SeatSelection label {
    font-size: 18px;
    line-height: 21px;
    color: #293845;
}

.SeatSelection input {
    width: 320px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 7px;
}

.SeatSelection input::placeholder {
    color: #AFAFAF;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
}

.SeatSelection section {
    width: 327px;
}

.SeatSelection button {
    background: #E8833A;
    border-radius: 3px;
    width: 225px;
    height: 42px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    margin: 50px 0 0 51px;
}

.Success article {
    width: 327px;
    padding-bottom: 25px;
}

.Success h2 {
    color: #247A6B;
    font-weight: 700;
}

.Success h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #293845;
    padding-bottom: 5px;
}

.Success p {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #293845;
}

.Success button {
    background: #E8833A;
    border-radius: 3px;
    width: 225px;
    height: 42px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    margin-top: 70px;
}

.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #DFE6ED;
    width: 100%;
}

.Footer h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 30px;
    color: #293845;
    padding-left: 14px;
}

.Footer div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 89px;
    margin: 14px 0 14px 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.Footer img {
    width: 48px;
}
